In [3]:
import pandas as pd 
import numpy as np 

df_raw_train = pd.read_csv('./Datset/train.csv')
df_raw_test = pd.read_csv('./Datset/test.csv')

In [5]:
df_raw_test

,Unnamed: 0,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,...,Satisfaction Score,Point Earned,Geography_France,Geography_Germany,Geography_Spain,Card Type_DIAMOND,Card Type_GOLD,Card Type_PLATINUM,Card Type_SILVER,Exited
0,6252,596,1,32,3,96709.07,2,0,0,41788.37,...,1,709,0,1,0,0,1,0,0,0
1,4684,623,1,43,1,0.00,2,1,1,146379.30,...,2,508,1,0,0,0,0,0,1,0
2,1731,601,0,44,4,0.00,2,1,0,58561.31,...,1,281,0,0,1,0,1,0,0,0
3,4742,506,1,59,8,119152.10,2,1,1,170679.74,...,2,979,0,1,0,0,0,0,1,0
4,4521,560,0,27,7,124995.98,1,1,1,114669.79,...,5,457,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,6412,602,0,53,5,98268.84,1,0,1,45038.29,...,5,813,0,1,0,0,0,1,0,1
1996,8285,609,1,25,10,0.00,1,0,1,109895.16,...,2,652,1,0,0,0,0,1,0,0
1997,7853,730,0,47,7,0.00,1,1,0,33373.26,...,2,504,1,0,0,0,0,1,0,1
1998,1095,692,1,29,4,0.00,1,1,0,76755.99,...,3,686,1,0,0,0,0,1,0,1
1999,6929,628,1,39,1,115341.19,1,1,1,107674.30,...,4,887,0,1,0,0,0,0,1,1

In [7]:
df_raw_train

,Unnamed: 0,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,...,Satisfaction Score,Point Earned,Geography_France,Geography_Germany,Geography_Spain,Card Type_DIAMOND,Card Type_GOLD,Card Type_PLATINUM,Card Type_SILVER,Exited
0,0,686,1,32,6,0.000000,2,1,1,179093.260000,...,2,510,1,0,0,1,0,0,0,0
1,1,632,1,42,4,119624.600000,2,1,1,195978.860000,...,4,959,0,1,0,0,0,1,0,0
2,2,559,1,24,3,114739.920000,1,1,0,85891.020000,...,4,327,0,0,1,0,0,0,1,1
3,3,561,0,27,9,135637.000000,1,1,0,153080.400000,...,2,567,1,0,0,0,0,0,1,1
4,4,517,1,56,9,142147.320000,1,0,0,39488.040000,...,3,727,1,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12511,12705,660,0,47,8,0.000000,1,0,0,92007.029844,...,1,396,0,1,0,0,0,1,0,1
12512,12706,560,0,55,3,66821.529939,2,0,0,8332.539701,...,5,438,1,0,0,1,0,0,0,1
12513,12707,545,1,41,9,130426.937687,2,0,0,6090.446387,...,1,636,0,0,1,0,0,0,1,1
12514,12708,836,0,54,6,108166.301002,2,0,0,24326.798012,...,3,491,0,1,0,0,0,0,1,1
12515,12709,619,0,50,2,0.000000,1,1,0,31806.670960,...,2,326,0,1,0,1,0,0,0,1